@page "/"

<MudButton Variant="Variant.Filled" OnClick="ThrowUnhandledException">Unhandle .Net Core Exception</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="ThrowJSException">Unhandle JS Exception</MudButton>
@*<Button onclick="exampleJsFunctions.generateRejectedPromise()">Unhandled JavaScript Exception</Button>*@